
.container {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    z-index: 2;
    opacity: 1;
    transform: translateX(0); 
}

.sign-up-container {
    left: 50%;
    z-index: 1;
    opacity: 0; 
    transform: translateX(100%); 
}